In [12]:
import mysql.connector as connector

In [13]:
# Establish the connection with the database:

connection = connector.connect(
                                user = "okaira",
                                password = "opakaira"
)

In [14]:
# Create a cursor object to communicate with mysql:

cursor = connection.cursor()

In [15]:
print("Cursor is created to communicate with MySQL")

Cursor is created to communicate with MySQL

In [16]:
# Use try-except block to create a database named "Global_Super_Store_db"
# If the database already exists then drop the database first, then create it again.
try:
    cursor.execute("CREATE DATABASE Global_Super_Store_db")
except:
    cursor.execute("DROP DATABASE Global_Super_Store_db")
    cursor.execute("CREATE DATABASE Global_Super_Store_db")
print("The database 'Global_Super_Store_db' is created.\n")    

# Set Global_Super_Store_db for use 
cursor.execute("USE Global_Super_Store_db")
print("The database Global_Super_Store_db is set for use.")

The database 'Global_Super_Store_db' is created.

The database Global_Super_Store_db is set for use.

In [17]:


# The SQL query for the Customers table is: 
create_Customers_table="""CREATE TABLE Customers (
 customerID INT,
 FullName VARCHAR(255),
 contactNumber VARCHAR(45),
 email VARCHAR(255)
);
"""

# Create customers table
cursor.execute(create_Customers_table)
print("Customers table is created.\n")

connection.commit()

Customers table is created.

In [18]:

# The SQL query for the Shipping table is: 
create_Shipping_table="""CREATE TABLE Shipping (
ShipId INT,
ShipDate DATE,
ShipMode VARCHAR(45),
AddressID INT,
ShipCost DECIMAL,
Orders_OrderID INT
);
"""

# Create Shipping table
cursor.execute(create_Shipping_table)
print("Shipping table is created.\n")

connection.commit()

Shipping table is created.

In [19]:

# The SQL query for the  DeliveryAddress table is: 
create_DeliveryAddress_table="""CREATE TABLE DeliveryAddress (
    AddressID INT,
    Street VARCHAR(255),
    PostCode VARCHAR(45),
    City VARCHAR(45),
    State VARCHAR(45),
    Country VARCHAR(45)
);
"""

# Create DeliveryAddress table
cursor.execute(create_DeliveryAddress_table)
print("DeliveryAddress table is created.\n")

connection.commit()

DeliveryAddress table is created.

In [20]:

# The SQL query for the  Products table is: 
create_Products_table="""
CREATE TABLE Products (
ProductID INT,
ProductName VARCHAR(255),
AmountInStock INT,
Price DECIMAL,
Category VARCHAR(45),
Subcategory VARCHAR(45)
);
"""

# Create Products table
cursor.execute(create_Products_table)
print("Products table is created.\n")

connection.commit()

Products table is created.

In [21]:
# The SQL query for the  Orders table is: 
create_Orders_table="""CREATE TABLE Orders (
    OrderID INT,
    CustomerID INT,
    ProductID INT,
    DeliveryDate DATE,
    Quantity INT,
    TotalCost DECIMAL,
    OrderPriority VARCHAR(45),
    Discount DECIMAL,
    ShipID INT
);
"""

# Create Orders table
cursor.execute(create_Orders_table)
print("Orders table is created.\n")

connection.commit()

Orders table is created.